.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}

.root {
  -fx-background-color: #181818;
  -fx-font: 13pt 'Iosevka';
}
